
/*===========Formatações gerais===========*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #FEFEFE;
}

a{
    text-decoration: none;
}

#container{
    /*border: 1px solid red;*/
    width: 1536px;
    max-width: 100%; /* Garante que em telas menores ele não estoure o tamanho */
    height: auto;
    margin: 0 auto;  /* CENTRALIZA O CONTAINER NA TELA */
    
}

#fundo{
    position: relative;
    background: #ffffff;/*#cfe6dc*/
    width: 1536px;
    height: 50px;
}

#logo{
    /*background: #cfe6dc;*/
    background: linear-gradient(
        to bottom,
       #ffffff 0%,
       #f3faf7 40%,
       #d9eee6 70%,
       #cfe6dc 100%
    );
    position: relative;
    width: 1536px;
    height: 141px;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
}

#logo h1{
  margin: 0;/* evita deslocamento extra */
  font-family: Arial, sans-serif;
  font-size: 3.5em;
  color: #5A5F64; 
}

.clear{
    clear: both;
}

/*=========Formatação do menu=========*/

ul{
    list-style: none;
    text-transform: uppercase;
}

#area-menu{
    overflow: hidden;
    position: relative;
    /*background: #F3F7F5;*/
    width: 100%;
    height: 90px;
    background: linear-gradient(
        to top,
       #ffffff 0%,
       #f3faf7 40%,
       #d9eee6 70%,
       #cfe6dc 100%
    );
}

#nav{
    position: relative;
    width: 52%;
    float: left;
}

#res{
    position: relative;
    width: 48%;
    float: right;
}

ul#menu li{
    float: right;
    
}
ul#menu a{
    /*display: block;*/
    margin-right: 10px;
    line-height: 80px;
    color: #556B2F;
    font-size: 1.2em;
    border-top: 1px solid #3B3C36;
    border-bottom: 1px solid #3B3C36;
}

ul#menu a:hover{
    background: #A2AD91;/*#6B8E23*/
    font-size: 1.3em;
}

ul#menu .pagina-atual{
    background: #cfe6dc;
    color: #000;
}

ul#reserva{
    float: left;
    line-height: 80px;
    margin-left: 20px;
}

ul#reserva a:hover.reservar{
    background: #A2AD91;/*#6B8E23*/
    font-size: 1.3em;
}

ul#reserva a.reservar{
    color: #556B2F;
    font-size: 1.2em;
    border-top: 1px solid #3B3C36;
    border-bottom: 1px solid #3B3C36;
    margin-right: 4px;
}

/*====Início da formatação da página HOME====*/

/*=========Formatação do centro=========*/

#centro{
    background: url(Imagem1.png) no-repeat;
    width: 1536px;
    height: 1024px;
}

#texto-centro{
    padding-top: 150px;
    padding-left: 50px;
}

#texto-centro h1{
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: #556B2F;
}

#texto-centro h2{
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #868E7E;
}

#texto-centro h3{
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    color: #868E7E;
}

#texto-centro .escuro{
    color:#3B3C36;
}

/*Formatação menu2*/

#menu2{
    /*border: 1px solid red;*/
    width: 600px;
    height: 200px;
    padding-top: 75px;
    padding-left: 50px;
    overflow: hidden;
}

#menu2 li.esquerda{
    float: left;
    text-transform: none;
    font-size: 1.5em;
    /*border-radius: 12px;
    padding: 10px 20px;
    background: #9ACD32;*/
    
}

#menu2 li.esquerda a{
    color: #FEFEFE;
    border-radius: 12px;
    padding: 10px 20px;
    background: #9ACD32;
}

#menu2 li.esquerda a:hover{
    color: #FEFEFE;
    font-size: 1.10em;
    background: #556B2F;
}

#menu2 li.direita{
    float: right;
    text-transform: none;
    font-size: 1.5em;
    margin-right: 30px;
    /*border-radius: 12px;
    padding: 10px 10px;
    background: #ADDFAD;*/
}

#menu2 li.direita a{
    color: #FEFEFE;
    border-radius: 12px;
    padding: 10px 20px;
    background: #9ACD32;
}

#menu2 li.direita a:hover{
    color: #FEFEFE;
    font-size: 1.10em;
    background: #556B2F;
}

#quem-somos{
    /*border: 1px solid red;*/
    width: 1536px;
    height: 600px;
}

#texto-qs{
    /*border: 1px solid red;*/
    float: left;
    padding-left: 25px;
    width: 600px;
    height: 225px;
}

#texto-qs h1{
    font-size: 3em;
   /* border-bottom: 1.5px solid #868E7E;*/
    color: #556B2F;
    padding: 5px;
    /*text-decoration: underline #868E7E;*/
}



#texto-qs p{
    font-family: Arial, sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 1.2em;
    text-align: justify;

}

#texto-qs ul{
    padding-left: 5px;
    padding-top: 10px;
    text-transform: none;
}

#texto-qs a{
    background: #8fd9b0;
    color: #000;
    padding: 5px;
    border-radius: 10px;
}

#texto-qs a:hover{
    font-size: 1.3em;
}


#imagem-qs{
    float: right;
    width: 768px;
    height: 512px;
}

.imagem-qs{
    width: 768px;
    height: 512px;
}

/*====Formatação do Rodapé====*/

#rodape{
    /*border: 1px solid red;*/
    width: 1536px;
    height: 700px;
    margin-bottom: 30px;
}

#rodape h1{
    /*text-align: top center;*/
    color: #556B2F;
    font-size: 3em;
    padding-bottom: 20px;
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
}

ul#serviços{
   /* border: 1px solid red;*/
    width: 1536px;
    /*height: 400px;*/
    /*padding-bottom: 20px;*/
    overflow: hidden;
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
}

ul#serviços li{
    float: left;
    margin: 0;
    width: 350px;
    height: 550px;
    /*border: 1px solid blue;*/
    margin-right: 10px;
}

ul#serviços a{
    /*border: 1px solid green;*/
    width: 300px;
    height: 500px;
    /*background: #8fd9b0;*/
    /*padding: 100px;*/
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
}

ul#serviços a.imagem1 img{
    width: 300px;
    height: 500px;
    
}

ul#serviços a:hover.imagem1 img{
    width: 350px;
    height: 550px;
}

ul#serviços a.imagem2 img{
    width: 300px;
    height: 500px;
}

ul#serviços a:hover.imagem2 img{
    width: 350px;
    height: 550px;
}

ul#serviços a.imagem3 img{
    width: 300px;
    height: 500px;
    margin-right: none;
}

ul#serviços a:hover.imagem3 img{
    width: 350px;
    height: 550px;
}

/*====Fim da formatação da página HOME====*/

/*====Formatação da página SOBRE====*/  

#conteudo-sobre{
    /*border: 1px solid green;*/
    width: 1536px;
    height: 810px;
    /*padding: 10px;*/
}

#texto-sobre{
    /*border: 1px solid blue;*/
    width: 49%;
    height: 800px;
    float: left;
    display: flex;
    flex-direction: column;      /* imagem em cima, h2 embaixo */
    justify-content: center;     /* centraliza verticalmente */
    align-items: center;         /* centraliza horizontalmente */
    
}

#texto-sobre h1{
    color: #556B2F;
    margin-bottom: 15px;

}

#texto-sobre p{
    text-align: justify;
    font-size: 1.5em;
    font-family: Arial, sans-serif;

}

#imagem-fabiana{
    /*border: 1px solid red;*/
    width: 49%;
    height: 800px;
    float: right;
    display: flex;
    flex-direction: column;      /* imagem em cima, h2 embaixo */
    justify-content: center;     /* centraliza verticalmente */
    align-items: center;         /* centraliza horizontalmente */
}

#imagem-fabiana img{
    width: 600px;
    height: 600px;
    
}

#imagem-fabiana h2{
    margin-top: 10px;
    color: #556B2F;
    
}

/*====Fim da formatação da página SOBRE====*/ 

/*====Formatação da página SERVIÇOS====*/

#pagina-serviços{
    /*border: 1px solid red;*/
    width: 1536px;
    height: 1010px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;      
    /*justify-content: center;     /* centraliza verticalmente */
    align-items: center;         /* centraliza horizontalmente */
}

#pagina-serviços h1{
    color: #556B2F;
    margin-bottom: 15px;
    margin-top: 5px;
}

ul#serviços-oficial{
    /*border: 1px solid green;*/
    width: 1536px;
    height: 900px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;     /* centraliza verticalmente */
    align-items: center;         /* centraliza horizontalmente */
}

ul#serviços-oficial li{
   /* border: 1px solid rgb(255, 0, 0);*/
    float: left;
    margin-right: 30px;
    width: 350px;
    height: 870px;
}

ul#serviços-oficial li img{
    width: 350px;
    height: 550px;
}

ul#serviços-oficial li p{
    /*border: 1px solid blue;*/
    margin-top: 5px;
    width: 350px;
    height: 310px;
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    text-transform: none;
}

ul#serviços-oficial li p span{
    color: #556B2F;
    font-size: 1.25em;
}

#pagina-serviços a{
    border-radius: 12px;
    padding: 10px 20px;
    background: #9ACD32;
}

#pagina-serviços a:hover{
    color: #FEFEFE;
    font-size: 1.10em;
    background: #556B2F;
}

/*====Formatação da página CONTATO*/    

#centro-contato{
    /*border: 1px solid red;*/
    width: 1536px;
    height: 800px;
    overflow: hidden;
    display: flex;
    flex-direction: column;      
    /*justify-content: center;     /* centraliza verticalmente */
    align-items: center;         /* centraliza horizontalmente */
}

#centro-contato h2{
    color: #556B2F;
    margin-bottom: 10px;

}

#centro-contato p{
    color: #3B3C36;
    margin-bottom: 40px;
}

#centro-contato h3{
    color: #556B2F;
    margin-bottom: 10px;
}

#centro-contato ul{
    text-transform: none;
    display: flex;
    flex-direction: column;      
    /*justify-content: center;     /* centraliza verticalmente */
    align-items: center;         /* centraliza horizontalmente */
}

#centro-contato ul li{
    margin-bottom: 10px;
}

#centro-contato ul a.botao{
    border-radius: 12px;
    padding: 10px 20px;
    background: #9ACD32;
    margin-right: 5px;
}

#centro-contato ul a.botao:hover{
    color: #FEFEFE;
    font-size: 1.10em;
    background: #556B2F;
}

#centro-contato ul a:hover img{
    width: 36px;
    height: 36px;
}



/*====Espaço para formatação Mobile====*/

@media (max-width: 768px) {

    /* RESET DE ESTRUTURA */
    * {
        float: none !important;
    }

    body {
        font-size: 16px;
        line-height: 1.6;
    }

    #container,
    #fundo,
    #logo,
    #area-menu,
    #centro,
    #quem-somos,
    #rodape,
    #conteudo-sobre,
    #pagina-serviços,
    #centro-contato {
        width: 100%;
        height: auto;
    }

    /* LOGO */
    #logo h1 {
        font-size: 2.2em;
        text-align: center;
    }

    /* MENU */
    #nav,
    #res {
        width: 100%;
        text-align: center;
    }

    ul#menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul#menu li {
        margin-bottom: 10px;
    }

    ul#reserva {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* HOME */
    #centro {
        background-size: cover;
        padding: 40px 20px;
    }

    #texto-centro {
        padding: 0;
        text-align: center;
    }

    #menu2 {
        width: 100%;
        padding: 20px;
    }

    #menu2 li {
        float: none;
        margin-bottom: 15px;
        text-align: center;
    }

    /* QUEM SOMOS */
    #texto-qs,
    #imagem-qs {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .imagem-qs {
        width: 100%;
        height: auto;
    }

    /* SERVIÇOS (HOME E PÁGINA) */
    ul#serviços,
    ul#serviços-oficial {
        flex-direction: column;
    }

    ul#serviços li,
    ul#serviços-oficial li {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }

    ul#serviços img,
    ul#serviços-oficial img {
        width: 100%;
        height: auto;
    }

    ul#serviços-oficial li p {
        width: 100%;
        height: auto;
        font-size: 1em;
    }

    /* SOBRE */
    #texto-sobre,
    #imagem-fabiana {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    #imagem-fabiana img {
        width: 100%;
        height: auto;
    }

    /* CONTATO */
    #centro-contato {
        padding: 20px;
        text-align: center;
    }

    #centro-contato ul a.botao {
        display: inline-block;
        width: 90%;
        margin-bottom: 10px;
        text-align: center;
    }
}



